### Part 2: Python-Based Data Cleaning and Transformation

Tasks
1. Extract the dataset from the CSV (Paste this table as CSV file).
2. Create UDF and clean the data:
- Convert order_id, product_id, quantity to integers
- Convert price_per_unit to float
- Convert order_date to datetime
- Fix missing values with blank/0.
3. Create a UDF to calculate `total_price = quantity * price_per_unit`
4. Add a new column `total_price` using this function
5. Save the cleaned DataFrame to `cleaned_sales.csv`
- All logic must use functions
- No hardcoding allowed

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1. Loading the CSV file
df = pd.read_csv('raw_sales.csv')
df

  order_id  product_id quantity price_per_unit    order_date
0        1         101      "2"             20    01-06-2025
1        2         102       -1        "15.50"    01-06-2025
2      "3"         103        1             35  "2025-06-01"
3        4         104        3             20    02-06-2025
4        5         105       ""             99    06-03-2025
5        6         106        2          25.99    03-06-2025

In [5]:


# 2. UDF to clean individual columns
def convert_to_integer(value):
    try:
        return int(str(value).strip().replace('"', ''))
    except:
        return 0

def convert_to_float(value):
    try:
        return float(str(value).strip().replace('"', ''))
    except:
        return 0.0

def convert_to_date(value):
    try:
        return pd.to_datetime(str(value).strip().replace('"', ''), errors='coerce', dayfirst=False)
    except:
        return pd.NaT

# 3. Apply cleaning functions using DataFrame.apply
df['order_id'] = df['order_id'].apply(convert_to_integer)
df['product_id'] = df['product_id'].apply(convert_to_integer)
df['quantity'] = df['quantity'].apply(convert_to_integer)
df['price_per_unit'] = df['price_per_unit'].apply(convert_to_float)
df['order_date'] = df['order_date'].apply(convert_to_date)

# 4. UDF to calculate total_price
def calculate_total_price(df):
    return df['quantity'] * df['price_per_unit']

# 5. Add total_price column
df['total_price'] = df.apply(calculate_total_price, axis=1)

# 6. Save to cleaned_sales.csv
df.to_csv('cleaned_sales.csv', index=False)

# Display cleaned DataFrame
df

   order_id  product_id  quantity  price_per_unit order_date  total_price
0         1         101         2           20.00 2025-01-06        40.00
1         2         102        -1           15.50 2025-01-06       -15.50
2         3         103         1           35.00 2025-06-01        35.00
3         4         104         3           20.00 2025-02-06        60.00
4         5         105         0           99.00 2025-06-03         0.00
5         6         106         2           25.99 2025-03-06        51.98